.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    margin-bottom: 35px;
}

.logo {
    width: 400px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Cambiar a flex para mostrar los elementos en línea */
}

nav ul li {
    margin-right: 70px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #5E0D95;
    /* Color del texto del enlace */
    text-decoration: none;
}